@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic");

.Logo {
  font-size: 24px;
  line-height: 1.2;
  font-weight: bold;
  font-family: "Rubik";
  color: #000;
  z-index: 5000;
  position: relative;
}