.About{
  margin-bottom: 60px;
  &__inner{
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 120px;
  }

  &__title{
      color: #161C2D;
      font-weight: bold;
      font-size: 32px;
      line-height: 35px;
      margin-bottom: 25px;
  }
  &__text{
      font-size: 19px;
      line-height: 32px;
      color: #161C2D;

  }

  &__content{
      width: 420px;
  }

  &__image{
      width: 750px !important;
  }

  &__card{
      position: absolute;
      left: 0;
      transform: translateX(-80%);
      top: 2px;
  }
}

@media (max-width: 1400px){
  .About{
      margin-bottom: 50px;
      &__inner{
          gap: 50px;
      }

      &__title{
          font-size: 28px;
          line-height: 30px;
          margin-bottom: 20px;
      }

      &__text{
          font-size: 16px;
          line-height: 28px;
      }

      &__content{
          width: 380px;
      }

      &__image{
          width: 600px !important;
      }

  }
}

@media (max-width: 820px) {
  .About{

      &__image{
          display: none;
      }

      &__inner{
          display: block;
      }

      &__title{
          text-align: center;
      }

      &__text{
          padding: 10px;
          border-radius: 10px;
          background-color: #e7dbdba8;
      }

      &__card{
          position: absolute;
          top: 20%;
          left: 40% !important;
          z-index: -10;
      }
  }
}