.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;

    .copyright {
        font-size: 14px;
    }

    .socialicon {
        a {
            margin: 0 5px;
            text-decoration: none;
            font-size: 20px;
            color: #000;

            &:hover {
                color: #007bff;
            }
        }
    }

    .heart {
        color: red;
    }
}

@media screen and (max-width:500px){
    .footer{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
        text-align: center;
    }
}